@font-face {
    font-family: OpenSansRegular;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSansRegular/OpenSansRegular.woff) format("woff"), url(../fonts/OpenSansRegular/OpenSansRegular.ttf) format("truetype");
}
@font-face {
    font-family: OpenSansSemiBold;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSansSemiBold/OpenSansSemiBold.woff) format("woff"), url(../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf) format("truetype");
}
body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    font-family: OpenSansSemiBold, sans-serif;
    overflow-x: hidden;
    color: #465766;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.3125em;
}
h3 {
    font-size: 1.9375em;
}
h4 {
    font-size: 1.3125em;
}
p {
    font-size: 1.0625em;
    font-family: OpenSans, sans-serif;
    line-height: 1.2;
}
.button, button {
    color: #fff;
    background-color: #4caeef;
    -webkit-box-shadow: 0 2px 10px 0 rgba(17, 19, 21, .15);
    box-shadow: 0 2px 10px 0 rgba(17, 19, 21, .15);
    -webkit-border-radius: 100px;
    border-radius: 100px;
    font-size: 1.5625em;
}
.button {
    display: inline-block;
    width: 219px;
    height: 62px;
    text-align: center;
    line-height: 62px;
}
.button:focus, .button:hover {
    color: #fff;
    text-decoration: none;
}
button {
    border: none;
    color: #fff;
    background-color: #4caeef;
    width: 219px;
    height: 62px;
}
.tittle-of-point {
    font-size: 1.1875em;
    display: inline-block;
}
.top-mnu {
    min-height: 68px;
    -webkit-box-shadow: 0 0 10px 0 rgba(17, 19, 21, .5);
    box-shadow: 0 0 10px 0 rgba(17, 19, 21, .5);
    background-color: #fff;
}
.top-mnu .top-mnu-items {
    font-size: .9375em;
}
.top-mnu .top-mnu-items span {
    font-size: 1em;
    line-height: 68px;
}
.top-mnu .top-mnu-items li, .top-mnu .top-mnu-items ul {
    padding: 0;
    margin: 0;
    display: inline-block;
}
.top-mnu .top-mnu-items li li input[type=text], .top-mnu .top-mnu-items ul li input[type=text] {
    margin-left: 28px;
    margin-right: 24px;
    width: 190px;
    height: 35px;
    color: #b2b2b2;
    background-color: #f8f8f8;
    font-family: OpenSans, sans-serif;
    padding: 11px 101px 12px 15px;
}
.top-mnu .top-mnu-items li li input[type=submit], .top-mnu .top-mnu-items ul li input[type=submit] {
    width: 149px;
    height: 34px;
    background-color: #4caeef;
    color: #fff;
}
.top-mnu .top-mnu-items li li input, .top-mnu .top-mnu-items ul li input {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0;
}
.toggle-menu-box {
    height: 100%;
    position: fixed;
    width: 324px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(17, 19, 21, .5);
    box-shadow: 0 0 10px 0 rgba(17, 19, 21, .5);
    z-index: 1;
    right: 0;
    display: none;
}
.toggle-mnu {
    float: right;
    display: block;
    width: 31px;
    height: 25px;
    margin-top: 22px;
}
.toggle-mnu span:after, .toggle-mnu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
}
.toggle-mnu span:after {
    top: 18px;
}
.toggle-mnu span {
    position: relative;
    display: block;
}
.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
    width: 100%;
    height: 6px;
    background-color: #4caeef;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.toggle-mnu.on span {
    background-color: transparent;
}
.toggle-mnu.on span:before {
    -webkit-transform: rotate(45deg) translate(-1px, 0);
    -ms-transform: rotate(45deg) translate(-1px, 0);
    transform: rotate(45deg) translate(-1px, 0);
}
.toggle-mnu.on span:after {
    -webkit-transform: rotate(-45deg) translate(6px, -7px);
    -ms-transform: rotate(-45deg) translate(6px, -7px);
    transform: rotate(-45deg) translate(6px, -7px);
}
.header-content {
    background-image: url(../img/header-bg.jpg);
    text-align: center;
    min-height: 600px;
    right: 0;
}
.header-content .header-content-left {
    padding: 0 60px;
}
.header-content .header-content-left .logo {
    margin: 109px auto 36px;
    width: 138px;
    height: 60px;
}
.header-content .header-content-left .logo img {
    width: 100%}
.header-content .header-content-left h1, .header-content .header-content-left h2 {
    color: #fff;
    text-shadow: 0 1px 4px rgba(17, 19, 21, .4);
    font-variant: small-caps;
    line-height: 1.27;
}
.header-content .header-content-left h2 {
    margin-top: 0;
    margin-bottom: 57px;
    word-spacing: 2px;
}
.header-content .header-content-left h1 {
    margin-bottom: 0;
    margin-top: 0;
}
.header-content .header-content-left h1 span {
    text-transform: uppercase;
}
.header-content .header-content-left .try-now {
    color: #b4e1ff;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 91px;
}
.header-content .header-content-left .try-now span {
    display: inline-block;
    margin-bottom: 5px;
}
.header-content .header-content-left .try-now:focus, .header-content .header-content-left .try-now:hover {
    color: #b4e1ff;
    text-decoration: none;
}
.header-content .header-picture-wrapper {
    width: 411px;
    height: 443px;
    margin: 70px 65px;
}
.header-content .header-picture-wrapper img {
    width: 100%}
.hidden {
    display: none;
}